body {
  overflow-y  : scroll;
}

.navbar {
  margin-bottom : 0px;
}

.navbar-brand {
  font-size : 20px;
}

.navbar .nav > li > a, .dropdown-menu > li > a {
  font-size      : 14px;
  text-transform : none;
}

#login {
  min-width   : 300px;
  padding-top : 8.5px;
}

.btn {
  font-size      : 14px;
  text-transform : none;
}

button.list-group-item:focus {
  background-color : #ffffff;
  color            : #3e3f3a;
}

button.list-group-item:focus:hover {
  background-color : #f8f5f0;
}

.wine-details {
  background-color : rgba(248, 245, 240, 0.4);
  padding-left     : 3em;
}

.with-headroom {
  margin-top : 1em;
}

#info-modal .modal-title {
  text-transform : capitalize;
}

.verbatim {
  text-align  : justify;
  white-space : pre-wrap;
}

.empty-message {
  font-style : italic;
}

#ratings-modal select {
  font-size : 24px;
  height    : 56px;
}

#ratings-modal p {
  margin-top : 23px;
}
